
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Creepster';
}
.App {
 text-align: center;
 background-color: #2b2d42;
 
}

/* HEADER */
.banner img {
  width:15%;
}

.title{
 color: #edf2f4;
 font-size: 5rem;

}



.location{
  color: #edf2f4;
  font-size: 3rem;
  font-family: sans-serif;
  padding:3rem;
}

.location-info{
 
  padding: 0.3rem;
  display: flex;
  justify-content: space-around;
}

.location-info h4 {
  font-family: sans-serif;
  color: #edf2f4;

  padding:1rem;
  
}

.search-bar{
  margin: 0 auto;
  border-radius:4rem;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  max-width: 40rem;
  display: flex;
  padding:  1.5rem 1.5rem;
  margin-bottom: 1rem;
 
}

.search-bar input{
  background-color: transparent;
  font-size: 2rem;
  border: 0;
  flex: 1;
  outline: none;
  color: #edf2f4;
  padding:  1.5rem 1.5rem;
}

::placeholder{
  color:#edf2f4;
  opacity:0.1;
}

.search-bar button{
  background-color: transparent;
  border: 0;
  opacity: 0.8;
  color:#2b2d42;
  cursor: pointer;
}

.fa-solid{
  font-size: 3rem;
 
}

/* Main */

.container h2 {
  font-size: 2.5rem;
  font-family: sans-serif;
  color: #edf2f4;
  display: flex;
  justify-content:left;
  margin-left: 3rem;
  padding: 0.5rem;
}


.resident-list{
  /* border: 3px solid green; */
  display:flex;
  flex-wrap: wrap;
}

.resident-card{
  width: 32%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  padding: 0;
  margin-left: 1rem;
  margin-top:1rem;
  display: flex;
  box-shadow: 2px 2px 8px black;
}

.resident-card :hover{
  border-radius: 50%;
  background-color:green;

}

.card{
  width: 50%;
  display: flex;
  align-items: flex-end;
  flex-direction:column;
  margin-left: 10rem;
  position: relative;
  bottom: 8rem;
  left: 5rem;
  align-items: center;

  
}

.card li{
  font-family: sans-serif;
  color: #edf2f4;
  list-style: none;
}

.card li>p{
  opacity: 0.4;
}

.resident-card>ul>img{
  margin-top: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 50%;
  border-radius:100%;
  box-shadow: 2px 2px 8px black;
  margin-right: 10rem;
  position: relative;
  top:2rem;
  left:1rem
  
}



